     
        * {
            margin: 0;
            padding: 0;
        }

        body {
                background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/42f3cd9f-c9a8-4cae-8c03-3e7aa13e0154/web/BR-pt-20260727-TRIFECTA-perspective_7ab34e99-f96a-4669-a032-6664aa5f6f75_large.jpg);        
                background-size: cover;
                background-position: top center; 
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                   
        }

        #cabecalho{
           background-color: rgba(0, 0, 0, 0.7);
        }

        #cabecalho div{
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: auto;
                 
        }

        #cabecalho .menu {
         padding: 15px;
         font-size: 50px;   
         text-transform: uppercase;
                 
        }

        #cabecalho a{
          color: white;
          text-decoration: none;
          font-family: sans-serif;

        }

        #meio{
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
