* {
padding:0;
margin:0;
vertical-align:baseline;
list-style: none;
text-decoration: none;
border:0
}


#tela{
    width: 93vw;
    height: 700px;
    margin: 50px auto;
    border: 30px solid black;
    border-radius: 15px;
}
/*-------------------------------MENU-------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

nav{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 100px;
}

ul{
    display: flex;
    gap: 30px;
    
}

ul a{
    
color: #1e64fa;
font-weight: 400;
font-size: 1.2rem;
}

.caixa-acoes{
    display: flex;
    align-items: center;
    gap:  30px;
    font-size: 1.3rem;
    color: #1e64fa;
}

.btt-login{
    border: 2px solid #1e64fa;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

    background-color: transparent;
    color: #1e64fa;

}