html{
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------MENU-------------------*/

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFCB68;
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 0 40px;


}

.menu ul {
  height: 100%;
  display: flex;
  list-style: none;

}

.menu a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: #000411;
  font-weight: bold;
  transition: transform 0.3s;
}

.menu li:hover {
  background-color: #E1EFE6;
}

.menu a:hover {
  transform: scale(1.2);
}

/*-------------------HOME -------------------*/

#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #160C28;
  color: #E1EFE6;
  gap: 20px;

}

#home h2 {
  font-family: "Syne", sans-serif;
  font-size: 3rem;

}

#home p {
  line-height: 1.5;
  max-width: 800px;

}


#home a {
  background-color: #EFCB68;
  color: #000411;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s;

}


#home a:hover {
  background-color: #E1EFE6;
  transform: scale(1.1);
}

/*------------------- SOBRE MIM -------------------*/

#sobre {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  background-color: #836C48;
  color: white;
  text-align: center;

}

#sobre h2 {
  font-family: "Syne", sans-serif;
  font-size: 3rem;

}


#sobre p {
  max-width: 800px;
  line-height: 1.5;

}

#sobre p::first-letter {
  font-size: 3rem;
  font-weight: bold;
}

#sobre p::first-line {
  font-style: italic;
}

.lista-sobre {
  list-style: none;
}

.lista-sobre li:first-child {
  color: #160C28;
  font-weight: 800;
}

/*------------------- HABILIDADES -------------------*/

#habilidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EDD17D;
  color: #000411;
  text-align: center;

}

#habilidades h2 {
  font-family: "Syne", sans-serif;
  font-size: 3rem;
  margin: 60px 0 25px 0;

}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 100%;
  max-width: 1200px;
  gap: 30px;


}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 30%;
  height: 90%;
  font-size: 3rem;
  transition: transform 0.3s;
  font-weight: bold;
  position: relative;

}

.card-html {
  background-color: rgb(255, 124, 1);

}

.card-css {
  background-color: rgb(5, 81, 245);

}

.card-js {
  background-color: rgb(245, 209, 5);

}

.card:hover {
  background-color: rgba(255, 254, 254, 0.829);
  transform: scale(1.1);
}

.card::after {
  content: ' 💻';
}

.status{
 position: absolute;
 top: 20px;
 right: 10px;
 font-size:  1rem;
 padding: 5px;
 background-color: #ccc;
 border-radius: 5px;
}
/*------------------- CONTATOS -------------------*/

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
  background-color: #836C48;
  color: white;

}

#contato h2 {
  font-family: "Syne", sans-serif;


}

.form-contato {
  width: 100%;
  max-width: 800px;
  border: 1px solid white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

input,
select {
  width: 90%;

}

textarea {
  width: 90%;
  height: 100px;
}

input::placeholder {
  text-align: center;
}

.btt-enviar {
  width: 70%;
  transition: transform 0.3s;
}

.btt-enviar:hover {
  transform: scale(1.1);
  background-color: #E8DDA7;
}


/*------------------- RESPONSIVO -------------------*/

@media (max-width: 600px) {

  .menu {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }

  .menu h1 {
    font-size: 1.2rem;
  }

  .menu a {
    padding: 5px;
    font-size: 0.8rem;

  }

  #sobre{
    padding: 30px;
  }

  #habilidades {
    padding-top: 30px;
  }

  .cards {
    flex-direction: column;
    height: auto;
    gap: 30px;

  }

  .card {
    width: 90%;
    height: auto;
    font-size: 2rem;
    padding: 50px 10px;

  }

  #habilidades h2 {
    font-size: 2rem;
  }

  .form-contato{
    width: 80%;
  }
}